.cart-container {
  background: var(--light-grey);
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-content: center;
  justify-items: center;
  align-items: center;
  min-height: 100vh;
  height: auto;
  width: 100vw;
  font-size: 1rem;

  .success-message {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    width: auto;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    background-color: var(--green);
  }

  .cart-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    justify-items: center;
    height: fit-content;
    max-width: 600px;
    width: 100%;
    background-color: #fff;
    border-radius: 1rem;
    margin: 0 10px;

    .cart-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-bottom: 2px solid var(--light-grey);
      width: 100%;
      padding: -1rem;

      button {
        cursor: pointer;
        background-color: #fff;
        margin-top: 0.5rem;
        margin-right: 1rem;
      }

      h3 {
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 1.2rem;
        padding: 1rem;
      }
    }

    .empty-cart {
      display: flex;
      flex-direction: column;
      justify-items: center;
      justify-content: center;
      align-items: center;
      align-content: center;
      text-align: center;
      padding: 1rem;
      width: 100%;

      svg {
        margin-top: 1rem;
        color: var(--dark-grey);
      }

      strong {
        padding: 1rem;
        font-size: 1.2rem;
        color: var(--dark-grey);
      }
    }

    .clear-icon {
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      padding: 0.5rem 1rem 0 1rem;

      button {
        justify-content: center;
        cursor: pointer;
        background-color: white;
      }

      svg {
        color: var(--dark-grey)
      }
    }

    .cart-item-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: auto;
      min-height: fit-content;
      padding: 0 2rem 2rem;
      width: 100%;     

        .left-side {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          justify-items: center;
          text-align: center;
          width: 50%;
          margin-right: 1rem;

          img {
            width: 100%;
              height: 176px;
              object-fit: contain;
              max-height: unset;
              max-width: 176px;
          }

          h3 {
            font-size: 1.5rem;
            padding-top: 1rem;
          }
        }

        .right-side {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          justify-items: center;
          width: 50%;
          margin-right: 0.5rem;

          h3 {
            flex-wrap: wrap;
            text-align: center;
            margin-bottom: 3rem;
          }

          .buttons-container {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            justify-items: center;
            align-content: center;

            .orange-button {
              background-color: var(--orange);
              color: #fff;
            }

            .white-button {
              background-color: #fff;
              border-top: solid 1px var(--dark);
              border-bottom: solid 1px var(--dark);
            }

            button {
              height: 3rem;
              width: 100%;
              font-size: 1.5rem;
              align-content: center;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }

      
    }
    .cart-footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-top: 2px solid var(--light-grey);
      width: 100%;
      padding: -1rem;

      a {
        display: flex;
        justify-content: space-evenly;
        align-content: center;
        align-items: center;
        width: 13rem;
        background-color: var(--orange);
        text-decoration: none;
        color: #fff;
        padding: 0.5rem;
        margin: 0.5rem 0 0.5rem 1rem;
        border-radius: 0.5rem;
        font-weight: 700;
      }

      h3 {
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 1.2rem;
        padding: 1rem;
      }
    }
  }