.main-container {
  background: var(--light-grey);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  width: 100vw;
  font-size: 1rem;

  .top-content {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    margin-top: 3rem;

    h3 {
      padding-left: 1rem;
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: 1.5rem;
    }
  }

  .content {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 2rem;
    flex-wrap: wrap;

    .beer-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      height: 434px;
      max-width: 215px;
      width: 100%;
      background-color: #fff;
      padding: 10px 10px 0;
      border-radius: 8px;
      margin: 0 10px;

      .top {
        padding: 0.5rem;

        img {
          width: 100%;
          height: 176px;
          object-fit: contain;
          max-height: unset;
          max-width: 176px;
          padding-top: 1rem;
          padding-bottom: 1rem;
        }

        p {
          color: var(--dark-grey);
          font-size: 0.8rem;
        }

        h3 {
          color: var(--dark);
          font-size: 1rem;
        }
      }

      .bottom {
        padding: 2rem 0;
        width: 100%;

        strong {
          font-size: 1.1rem;
        }

        button {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          align-content: center;
          background-color: var(--orange);
          color: #fff;
          width: 100%;
          height: 3rem;
          padding: 0.3rem;
          font-size: 1rem;
          font-family: 'Open Sans Condensed', sans-serif;
          font-weight: 700;
          border-radius: 0.5rem;
          margin-top: 1rem;
          cursor: pointer;
    
          svg {
            margin-left: 5px;
          }
          }
      }
    }
  }
}