.header-container {
  display: flex;
  width: 100vw;
  height: auto;
  flex-direction: column;
  background-color: #fff;
  top: 0;
  border-bottom: 0.25rem solid var(--yellow);
  -webkit-box-shadow: 5px 5px 15px 5px #000000; 
box-shadow: 5px 5px 15px 5px #000000;

  .upper-menu {
    background-color: var(--light-grey);
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    strong {
    font-family: 'Open Sans Condensed', sans-serif;
    }

    #orange-background {
      background-color: var(--yellow);
      padding: 0.1rem;
    }
  }

  .logo-cart-menu {
    display: flex;
    flex-direction: row;
    padding: 1rem 2rem;
    margin-left: 2rem;
    justify-content: space-between;
    align-content: center;
    align-items: center;

    .logo-area {
      display: flex;
      flex-direction: row;

      img:first-child {
        width: 70px;
        
      }

      img {
        width: 100px;
      }

    }

    .icons-area {
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      text-align: center;
      justify-items: center;
      width: 30%;

      strong {
        font-size: 1.1rem;
        padding: 1rem;

        @media screen and (max-width: 900px) {
          display: none;
        }
      }

      a {
        display: flex;
        justify-items: center;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-weight: 700;
        color: #000;
        font-size: 1.1rem;
        padding: 1rem;

        svg {
          margin-right: 0.5rem;
        }
      }
      @media screen and (max-width: 900px) {
        display:flex;
        flex-direction: column;

        a {
          display: flex;
          flex-direction: column;
          font-size: 0.8rem;
        }
      }
    }
  }

  .categories-nav {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding-top: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.4rem;

    ul {
      list-style: none;
      display: flex;
      flex-direction: row;

      li {
        color: var(--dark);

        &:not(:last-child)::after {
          content: '';
          display: inline-block;
          position: absolute;
          height: 20px;
          width:1px;
          background: #000;
        }


        a {
          text-decoration: none;
          color: var(--black);
          font-weight: 700;
          font-size: 1.1rem;
          position: relative;
          padding: 5px 20px;

          &:after {    
            background: none repeat scroll 0 0 transparent;
            content: "";
            display: block;
            height: 6px;
            left: 50%;
            position: absolute;
            background: var(--yellow);
            width: 0;
          }

            &:hover:after {
              width: 100%; 
              left: 0;  
            }
          }
          }
        }
        @media screen and (max-width: 720px) {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          justify-items: center;
          align-content: center;

          ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;

          }

          li {
            padding-bottom: 0.5rem;
          }
        }
      }
  }