.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.signup-container {
  background-color: var(--light-grey);
  border-radius: 1rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;

  h2 {
    padding: 1.5rem;
    font-family: 'Open Sans Condensed', sans-serif;
  }

  .logo-container {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;

    img:first-child {
      width: 5rem;
    }

    img {
      width: 8rem;
    }
  }

  .form {
    display: flex;
    flex-direction: column;

    p {
      width: auto;
      padding: 0.5rem;
      font-size: 1rem;
      flex-wrap: wrap;
    }

    strong {
      padding: 0.5rem;
      font-size: 0.9rem;
      color: var(--orange);
      text-align: center;
    }

    button {
      background-color: var(--yellow);
      width: 25rem;
      padding: 0.3rem;
      font-size: 1.5rem;
      font-family: 'Open Sans Condensed', sans-serif;
      font-weight: 700;
      border-radius: 0.5rem;
      margin-top: 1rem;
      cursor: pointer;
    }
    
    .form-text {
      display: flex;
      flex-direction: column;

      input {
        width: 25rem;
        font-size: 1rem;
        padding: 0.5rem 1rem;
        margin-bottom: 0.5rem;
        border-radius: 0.5rem;
      }
    }

    .form-radio {
      display: flex;
      flex-direction: row;
      justify-items: center;
      justify-content: center;
      align-items: center;

      input {
        margin: 0.1rem;
      }

      label {
        margin: 0.5rem;
      }
    }
  }

}