@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap');

:root {
  --yellow: #ffa935;
  --dark: #2b2e34;
  --dark-grey: #8e8e8e;
  --light-grey: #f0f0f0;
  --orange: #fc591f;
  --green: rgb(53, 200, 92);
  --black: #000;

}

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background: url(./assets/timothy-dykes-Lq1rOaigDoY-unsplash.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  // display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   height: 100vh;
  //   width: 100vw;
    font-size: 1rem;
}